{% extends 'base.html' %}
{% block content %}
<div class="container-inner">
{% for message in get_flashed_messages() %}
	<br>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
	{% if name  %}
		<h1>Hello {{name}}!!</h1>
		<br>
		<img src="{{url_for('static',filename='images/ades_pano.jpg')}}" width="100%" alt="">
		<br>
		<p id="demo"></p>
		<script src="{{url_for('static', filename='js/app.js')}}"></script>
	{% else %}
		<h1>What's your Name ?</h1>
		<br>
		<form action="" method="POST">
			{{ form.hidden_tag()}}
			<div class="mb-3 lg-4">
				{{ form.name.label(class="form-label") }}
				{{ form.name(class="form-control") }}
			</div>
			{{ form.submit(class="btn btn-dark")   }}
		</form>

	{% endif %}
	</div>
{% endblock %}